flow.txt
[{"id":"e9159af0.ea50a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"816ba0d0.490d2","type":"http in","z":"e9159af0.ea50a","name":"","url":"/people","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["1a525d72.c41a93","c3da7de0.a23ca8"]]},{"id":"1a525d72.c41a93","type":"switch","z":"e9159af0.ea50a","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":240,"wires":[["55a0d6.1373872c"],["29cf03ea.e969fc"]]},{"id":"55a0d6.1373872c","type":"template","z":"e9159af0.ea50a","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to my Face Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://asbarez.com/wp-content/uploads/2016/02/ibmwatson.jpg\" height='200'/>\n    <img src=\"http://www.awaken.com/wp-content/uploads/2015/05/forbes.jpg\" height='200'/>\n    <img src=\"https://www.commerce.gov/sites/commerce.gov/files/styles/scale_250w/public/media/images/profile/elizabethholmes.jpg?itok=DHmvdC-1\" height='200'/>\n        <br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right notice: \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n","output":"str","x":480,"y":200,"wires":[["192e2369.984a15","33b01e31.14acb2"]]},{"id":"29cf03ea.e969fc","type":"change","z":"e9159af0.ea50a","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["66952ecc.6f5218"]]},{"id":"66952ecc.6f5218","type":"visual-recognition-v3","z":"e9159af0.ea50a","name":"","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":650,"y":440,"wires":[["9d556443.1786a8","b21bca8.4d7cab8"]]},{"id":"9d556443.1786a8","type":"template","z":"e9159af0.ea50a","name":"Report faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition</h1>\n\n<!-- parse all images -->\n{{#result.images}}\n<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n</form>\n","output":"str","x":850,"y":500,"wires":[["33b01e31.14acb2"]]},{"id":"33b01e31.14acb2","type":"http response","z":"e9159af0.ea50a","name":"","statusCode":"","headers":{},"x":1010,"y":240,"wires":[]},{"id":"c3da7de0.a23ca8","type":"debug","z":"e9159af0.ea50a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":160,"wires":[]},{"id":"192e2369.984a15","type":"debug","z":"e9159af0.ea50a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":180,"wires":[]},{"id":"b21bca8.4d7cab8","type":"debug","z":"e9159af0.ea50a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":620,"wires":[]}]